temp/*
services/*
logs/*
nbproject/*
vendor/*
cert/*
.settings/*
.buildpath
.project
.htpasswd
composer.lock
composer.phar
configs/config.ini
public/profile/*
public/ads/*
public/raffle/*
public/tienda/*
migration/*
services/*
