temp/*
keys/*
public/temp/*
public/tmp/*
services/*
logs/*
configs/RSAPrivate.key
configs/RSAPublic.pub
nbproject/*
vendor/*
cert/*
attic/*
.settings/*
.buildpath
.project
.htpasswd
composer.lock
configs/config.ini
configs/client_secret.json
public/profile/*
public/ads/*
public/raffle/*
public/tienda/*
public/recetas/*
public/w/*
public/download/*
public/products/*
migration/*
services/*
app/controllers/TestController.php
app/views/test/*
.idea/*
public/courses/*
public/campaign/*
public/contestsImages/*
