temp/*
public/temp/*
services/*
logs/*
nbproject/*
vendor/*
cert/*
attic/*
.settings/*
.buildpath
.project
.htpasswd
composer.lock
composer.phar
configs/config.ini
public/profile/*
public/ads/*
public/raffle/*
public/tienda/*
public/w/*
public/download/*
public/products/*
migration/*
services/*
app/controllers/TestController.php
.idea/*
public/courses/*
