/*Helpers*/
.fullscreen {
	width: 100%;
}

/*Message Boxes*/
.message {
	font-size: small;
	padding: 7px;
	margin: 5px 0px;
	text-align: left;
}
.success { color:#747941; background-color:#DFF0D8; }
.danger { color:#B64850; background-color:#F2DEDE; }
.warning { color:#BF8740; background-color:#FCF8E3; }
