<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/apretaste_icon_16x16.png" sizes="16x16" type="image/png"/>
	<link rel="icon" href="/images/apretaste_icon_32x32.png" sizes="32x32" type="image/png"/>
	<link rel="icon" href="/images/apretaste_icon_64x64.png" sizes="64x64" type="image/png"/>
	<title>{{APP_SERVICE_NAME}}</title>

	<!-- add external libs from inside the app -->
	<link rel="stylesheet" href="{{APP_RESOURCES}}/libs/materialize.min.css"/>
	<link href="{{APP_RESOURCES}}/libs/materializeicons.css" rel="stylesheet">
	<link href="{{APP_RESOURCES}}/libs/apretaste.css" rel="stylesheet">
	<script src="{{APP_RESOURCES}}/libs/jquery.min.js"></script>
	<script src="{{APP_RESOURCES}}/libs/ejs.min.js"></script>
	<script src="{{APP_RESOURCES}}/libs/materialize.min.js"></script>
	<script src="{{APP_RESOURCES}}/libs/apretaste.js"></script>

	<!-- add script and styles from the template folder -->
	<style type="text/css">{{APP_TEMPLATE_CSS}}</style>
	<script type="text/javascript">{{APP_TEMPLATE_JS}}</script>
</head>
<body>
	<!-- place to render the template -->
	<div id="app_content_holder" class="container"></div>

	<!-- run the template -->
	<script type="text/javascript">
		var $res = {{APP_JSON_RESPONSE}}

		//make the variables accesible from everywhere
		for (var variable in $res) window[variable] = $res[variable];
		var html = ejs.render(`{{APP_LAYOUT_CODE}}`, $res);
		document.getElementById('app_content_holder').innerHTML = html;
	</script>

	<!-- web push notifications -->
	<script type="text/javascript">
		(function(p,u,s,h){
			p._pcq=p._pcq||[];
			p._pcq.push(['_currentTime',Date.now()]);
			s=u.createElement('script');
			s.type='text/javascript';
			s.async=true;
			s.src='https://cdn.pushcrew.com/js/d011951882e811830fa7e51f1fec62d7.js';
			h=u.getElementsByTagName('script')[0];
			h.parentNode.insertBefore(s,h);
		})(window,document);

		_pcq.push(['APIReady', function (){
			$.ajax({url: "/api/saveAppId?email={$USER_EMAIL}&appid="+pushcrew.subscriberId});
		}]);
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49715278-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-49715278-1', {
			'custom_map': {'dimension1': 'service'}
		});
		gtag('event', 'push_service', {'service': '{$APRETASTE_SERVICE_NAME}'});
	</script>
</body>
</html>