<!DOCTYPE html>
<html>
<head>
	<title>{{APP_SERVICE_NAME}}</title>

	<!-- add external libs from inside the app -->
	<script src="{{APP_RESOURCES}}/jquery.min.js"></script>
	<script src="{{APP_RESOURCES}}/ejs.min.js"></script>
	<script src="{{APP_RESOURCES}}/materialize.min.js"></script>
	<link rel="stylesheet" href="{{APP_RESOURCES}}/materialize.min.css"/>
	<link href="{{APP_RESOURCES}}/materializeicons.css" rel="stylesheet">
	<link href="{{APP_RESOURCES}}/apretaste.css" rel="stylesheet">

	<!-- add script and styles from the template folder -->
	<style type="text/css">{{APP_TEMPLATE_CSS}}</style>
	<script type="text/javascript">{{APP_TEMPLATE_JS}}</script>
</head>
<body>
	<script type="text/javascript">
		// get the template file
 		var template = `{{APP_TEMPLATE_CODE}}`;

		// get params from the Core
		var json = {{APP_JSON_RESPONSE}};

		// render and add to the body
		var html = ejs.render(template, json);
		document.getElementsByTagName('body')[0].innerHTML = html;
	</script>
</body>
</html>